<!DOCTYPE html>
<html>
  <head>
    <title>Busyfeed</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>
  </head>

  <div class="navbar-fixed">
    <nav>
      <div class="container nav-wrapper">
        <a href="#" class="brand-logo"><div class="busyfeed-title">BusyFeed</div></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li><a href="#">newz</a></li>
          <li><a href="#">vidz</a></li>
          <li><a href="#">tastz</a></li>
        </ul>
        <form>
          <div class="right input-field">
            <input id="search" type="search" placeholder="search" required>
            <label for="search"><i class="search material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
